<div class="remidiation">
  <div class="remidiation-wrapper">
    <span>{{server.title}}</span>

    <div class="remidiation-box" (click)="toggleDescriptionVisibility()" (keyup)="toggleDescriptionVisibility()">
      <div class="server-wrapper">
        <img [src]="server.icon" alt="server" />
        <div class="server-data">
          <span class="name">Server</span>
          <span class="type">Server</span>
        </div>
      </div>
      <div class="description">Lorem ipsum dolor sit amet consectetur.</div>
    </div>

    @if (server.visible) {
    <div class="full-description" [class.visible]="server.visible">
      {{server.description}}
    </div>
    }
  </div>
</div>