:host {
  width: 100%;
}

.chart {
  box-shadow: 0px 2.9px 4px 0px #0000000d;
  border-radius: 20px;
  padding: 10px 30px 14px 30px;
  border: 1.1px solid #f2f3f7;
  width: 100%;

  .heading {
    color: #667085;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1rem;
    display: block;
  }

  .risk-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .legend {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
      }

      .dot {
        width: 7px;
        height: 7px;
        border-radius: 100%;
      }

      .critical {
        background-color: #c6190d;
      }

      .high {
        background-color: #e5372b;
      }

      .medium {
        background-color: #eba622;
      }

      .low {
        background-color: #08b94e;
      }

      .risk {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
        color: #383874;
      }

      .status {
        color: #383874;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: capitalize;
      }
    }

    .donut {
      height: 160px;
      width: 160px;
      border: 0.5rem solid #c6190d;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: #656575;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 28px;
        letter-spacing: 0%;
      }
    }
  }
}
