<div class="chart">
  <span class="heading">Contextual Risk</span>

  <div class="risk-wrapper">
    <div class="legend">
      <div>
        <span class="dot critical"></span>
        <span class="risk">2</span>
        <span class="status">Critical</span>
      </div>
      <div>
        <span class="dot high"></span>
        <span class="risk">0</span>
        <span class="status">High</span>
      </div>
      <div>
        <span class="dot medium"></span>
        <span class="risk">0</span>
        <span class="status">Medium</span>
      </div>
      <div>
        <span class="dot low"></span>
        <span class="risk">0</span>
        <span class="status">Low</span>
      </div>
    </div>

    <div class="donut">
      <span>2</span>
    </div>
  </div>
</div>