<div class="chart">
  <span class="heading">Contextual Risk</span>

  <div class="risk-wrapper">
    <div class="legend">
      @for (legendItem of legend; track $index) {
      <div>
        <span class="dot"
          [ngClass]="{'critical': legendItem.status === ASSET_STATUS.CRITICAL, 'high': legendItem.status === ASSET_STATUS.HIGH, 'medium': legendItem.status === ASSET_STATUS.MEDIUM, 'low': legendItem.status === ASSET_STATUS.LOW}"></span>
        <span class="risk">{{legendItem.riskNumber}}</span>
        <span class="status">{{legendItem.status}}</span>
      </div>
      }
    </div>

    <div class="donut">
      <span>{{total}}</span>
    </div>
  </div>
</div>