<div class="chart">
  <span class="heading">Contextual Risk</span>

  <div class="risk-wrapper">
    <div class="legend">
      <div>
        <span class="dot critical"></span>
        <span class="risk">{{getTotal(ASSET_STATUS.CRITICAL)}}</span>
        <span class="status">{{ASSET_STATUS.CRITICAL}}</span>
      </div>
      <div>
        <span class="dot high"></span>
        <span class="risk">{{getTotal(ASSET_STATUS.HIGH)}}</span>
        <span class="status">{{ASSET_STATUS.HIGH}}</span>
      </div>
      <div>
        <span class="dot medium"></span>
        <span class="risk">{{getTotal(ASSET_STATUS.MEDIUM)}}</span>
        <span class="status">{{ASSET_STATUS.MEDIUM}}</span>
      </div>
      <div>
        <span class="dot low"></span>
        <span class="risk">{{getTotal(ASSET_STATUS.LOW)}}</span>
        <span class="status">{{ASSET_STATUS.LOW}}</span>
      </div>
    </div>

    <div class="donut">
      <span>{{chartData.length}}</span>
    </div>
  </div>
</div>