<div class="table-wrapper">
  <table>
    <tr>
      <th>Asset</th>
      <th>Contextual Risk</th>
    </tr>
    <tr>
      <td>
        <div>
          <img src="images/server.svg" alt="server" />
          <div class="ip-info">
            <span class="title">Loremipsumdolorsit</span>
            <span class="description">192.168.1.1</span>
          </div>
        </div>
      </td>
      <td>
        <span class="pill">Critical</span>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <img src="images/server.svg" alt="server" />
          <div class="ip-info">
            <span class="title">Loremipsumdolorsit002</span>
            <span class="description">192.168.1.2</span>
          </div>
        </div>
      </td>
      <td>
        <span class="pill">Critical</span>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="pagination">
          <img src="images/chevron_left.svg" alt="left" />
          <span>Showing 1-2 of 2</span>
          <img src="images/chevron_right.svg" alt="right" />
        </div>
      </td>
    </tr>
  </table>
</div>