.table-wrapper {
  border-radius: 15px;
  border: 1px solid #f0f1f3;
  box-shadow: 0px 1px 3px 0px #0000000d;
  overflow-x: scroll;
}

table {
  border-collapse: collapse;

  th {
    color: #858d9d;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 12px 24px;
    text-align: start;

    &:last-child {
      padding: 12px 17px;
    }
  }

  tr {
    border-top: 1px solid #f0f1f3;

    &:first-child {
      border-top: none;
    }
  }

  td {
    padding: 12px 24px;

    div {
      display: flex;
      gap: 8.1px;

      img {
        height: 45px;
        width: 45px;
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 24px;
        width: 24px;
      }

      span {
        color: #667085;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0px;
      }
    }

    .pill {
      background-color: #ffe2e0;
      color: #c6190d;
      padding: 4px 16px;
      border-radius: 38px;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 1%;
      text-transform: capitalize;
    }
  }
}

.ip-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 4px;

  .title {
    font-weight: 600;
    font-size: 13px;
    line-height: 13.5px;
    letter-spacing: 0px;
    text-transform: capitalize;
    color: #525d73;
    display: block;
  }

  .description {
    font-weight: 500;
    font-size: 9.45px;
    line-height: 10.13px;
    letter-spacing: 0px;
    color: #667085;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .table-wrapper {
    width: 100%;
    overflow-x: scroll;

    table {
      th {
        padding: 12px;
      }
    }
  }
}
