<div class="table-wrapper">
  <table>
    <tr>
      <th>Asset</th>
      <th>Contextual Risk</th>
    </tr>
    @for (item of tableData; track $index) {
    <tr>
      <td>
        <div>
          <img [src]="item.image" [alt]="item.name" />
          <div class="ip-info">
            <span class="title">{{item.name}}</span>
            <span class="description">{{item.ipAddress}}</span>
          </div>
        </div>
      </td>
      <td>
        @if (item.riskBadge) {
        <span class="pill">{{item.riskBadge}}</span>
        }
      </td>
    </tr>
    }
    <tr>
      <td colspan="2">
        <div class="pagination">
          <img src="images/chevron_left.svg" alt="left" />
          <span>Showing 1-{{tableData.length}} of {{tableData.length}}</span>
          <img src="images/chevron_right.svg" alt="right" />
        </div>
      </td>
    </tr>
  </table>
</div>