<div class="table-wrapper">
  <p-table [value]="tableData" [tableStyle]="{ 'min-width': '100%' }" [paginator]="true" [rows]="4">
    <ng-template pTemplate="header">
      <tr>
        <th>Asset</th>
        <th>Contextual Risk</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td>
          <div>
            <img [src]="asset.image" [alt]="asset.name" />
            <div class="ip-info">
              <span class="title">{{asset.name}}</span>
              <span class="description">{{asset.ipAddress}}</span>
            </div>
          </div>
        </td>
        <td>
          @if (asset.riskBadge) {
          <span class="pill"
            [ngClass]="{'critical': asset.riskBadge === ASSET_STATUS.CRITICAL, 'high': asset.riskBadge === ASSET_STATUS.HIGH, 'low': asset.riskBadge === ASSET_STATUS.LOW, 'medium': asset.riskBadge === ASSET_STATUS.MEDIUM}">{{asset.riskBadge}}</span>
          }
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>