<div class="mobile-menu-wrapper">
  <button class="hamburger-menu" (click)="showSideBar()">
    <img src="images/burger-menu.svg" alt="burger-menu" />
  </button>
</div>

<aside [ngClass]="{'collapsed': sidebarCollapsed}" id="sidebar">
  <nav class="nav-top" aria-label="nav-top">
    <ul>
      @if (sidebarCollapsed) {
      <img class="logo" src="images/logo-side.png" alt="sidebar logo" />
      }
      @for (link of topSidebarMenuItems; track $index) {
      <li [ngClass]="{'active': link.active}">
        <img [src]="link.icon" [alt]="link.label" />
        <span *ngIf="!sidebarCollapsed" class="sidebar-labels">{{link.label}}</span>
      </li>
      }
    </ul>
  </nav>

  <nav class="sidebar-bottom" aria-label="nav-bottom">
    <ul>
      @for (link of bottomSidebarMenuItems; track $index) {
      <li [ngClass]="{'active': link.active}">
        <img [src]="link.icon" alt="MENU" />
        <span *ngIf="!sidebarCollapsed" class="sidebar-labels">{{link.label}}</span>
      </li>
      }
    </ul>
    <img src="images/sidebar-divider.svg" alt="sidebar divider" />
    <div class="profile">
      <div class="user-details">
        <img src="images/avatar.svg" alt="avatar" />
        <div class="user-data" *ngIf="!sidebarCollapsed">
          <p>Lorem</p>
          <p>Lorem</p>
        </div>
      </div>
      <button class="logout-button" *ngIf="!sidebarCollapsed">
        <img src="images/icon-wrapper.svg" alt="logout button" />
      </button>
    </div>
  </nav>

  <button class="collapseButton" (click)="toggleSidebarCollapse()">
    <img src="images/left-arrow.svg" alt="left arrow button" />
  </button>
</aside>