section {
  display: flex;
  min-height: 100vh;
  gap: 30px;
  background-color: #fafafa;
}

main {
  display: grid;
  grid-template-columns: 25.063rem 1fr;
  width: 100%;
  gap: 20px;
  padding: 27px 20px 27px 0;
}