<section>
  <h3>Lorem Lorem Lorem</h3>

  <div class="asset-flow">
    <div class="asset-body">
      <div class="first">
        <img src="images/first-icon.svg" alt="first icon" />
        <span class="label">Loremipsumm</span>

        <div class="first-card">
          <div>
            <span class="pill">
              Lorem Ipsum Dolor Sit
            </span>
            <div class="status">
              <span class="pill">
                1.2.3.4
              </span><span class="pill">
                1.2.3.4
              </span><span class="pill">
                1.2.3.4
              </span>
            </div>
            <div class="status">
              <span class="pill">
                1.2.3.4
              </span><span class="pill">
                1.2.3.4
              </span><span class="pill">
                1.2.3.4
              </span>
            </div>
            <span class="pill-purple">
              Lorem: 1.2.3.4
            </span>
          </div>
        </div>
      </div>
      <img src="images/arrow-image.svg" alt="arrow right" />
      <div class="second">
        <img src="images/server.svg" alt="server icon" />
        <span class="label">Loremipsu</span>

        <div class="second-card">
          <div>
            <img src="images/server.svg" alt="server" />
            <span>Loremipsu</span>
          </div>
          <div class="flex">
            <img src="images/receipt-text.svg" alt="receipt text" />
            <span class="b-700">Lorem: Loremipsum Loremipsum</span>
            <span class="pill-purple">
              1.2.3.4
            </span>
          </div>
          <div class="flex">
            <span class="pill-purple">
              1.2.3.4
            </span>
            <span class="b-700">Loremipsum</span>
            <span class="pill-purple">
              1.2.3.4
            </span>
            <span class="pill-purple">
              1.2.3.4
            </span>
          </div>
        </div>
      </div>
      <img src="images/arrow-image.svg" alt="arrow right" />
      <div class="third">
        <img src="images/server.svg" alt="server icon" />
        <span class="label">Loremipsu</span>

        <div class="third-card">
          <div>
            <img src="images/server.svg" alt="server" />
            <span>Loremipsu</span>
          </div>
          <div class="flex">
            <img src="images/receipt-text.svg" alt="receipt text" />
            <span class="b-700">Lorem: Loremipsum Loremipsum</span>
            <span class="pill-purple">
              1.2.3.4
            </span>
          </div>
          <div class="flex">
            <span class="pill-purple">
              1.2.3.4
            </span>
            <span class="b-700">Loremipsum</span>
            <span class="pill-purple">
              1.2.3.4
            </span>
            <span class="pill-purple">
              1.2.3.4
            </span>
          </div>
        </div>
      </div>
      <div class="fourth">
        <img src="images/branch-up.svg" alt="branch up" />
        <img src="images/branch-down.svg" alt="branch down" />
      </div>
      <div class="fifth">
        <div class="section">
          <img src="images/server-ip.svg" alt="server ip icon" />
          <span class="label">Loremipsumdolorsit</span>
          <small>192.168.1.1</small>

          <div class="fifth-card">
            <div>
              <img src="images/server-shield-small.svg" alt="server shield small" />
              <div>
                <span>Loremipsumdolorsit</span>
                <small>192.168.1.1</small>
              </div>
            </div>
            <div class="flex">
              <img src="images/receipt-text.svg" alt="receipt text" />
              <span class="b-700">Lorem:</span>
              <span class="pill-yellow">
                Lorem “ipsum"
              </span>
            </div>
            <div class="flex">
              <span class="b-700">Lorem:</span>
              <span class="pill-blue">
                lorem 1234,5678
              </span>
            </div>
          </div>
        </div>
        <div class="section">
          <img src="images/server-ip.svg" alt="server ip icon" />
          <span class="label">Loremipsumdolorsit002</span>
          <small>192.168.1.2</small>

          <div class="sixth-card">
            <div>
              <img src="images/server-shield-small.svg" alt="server shield small" />
              <div>
                <span>Loremipsumdolorsit002</span>
                <small>192.168.1.2</small>
              </div>
            </div>
            <div class="flex">
              <img src="images/receipt-text.svg" alt="receipt text" />
              <span class="b-700">Lorem:</span>
              <span class="pill-yellow">
                Lorem “ipsum"
              </span>
            </div>
            <div class="flex">
              <span class="b-700">Lorem:</span>
              <span class="pill-blue">
                lorem 1234,5678
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="asset-footer">
      <div>
        <img src="images/red-shield.svg" alt="red shield" />
        <span class="red">Lorem</span>
      </div>
      <div>
        <img src="images/orange-shield.svg" alt="orange shield" />
        <span class="orange">Lorem</span>
      </div>
      <div>
        <img src="images/green-shield.svg" alt="green shield" />
        <span class="green">Lorem</span>
      </div>
    </div>
  </div>

  <h3>Lorem ipsum dolor sit</h3>

  <div class="chart-wrapper">
    <app-asset-table [tableData]="tableData" />

    <app-chart [chartData]="tableData" />
  </div>

</section>